# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/examples/BWcow/BWcow
src/examples/BWcow/BWcow.cpp
src/examples/BWcow/output.ppm
src/examples/ProjMatrix/out.jpg
src/examples/ProjMatrix/out.ppm
src/examples/ProjMatrix/ProjMatrix
src/examples/ProjMatrix/ProjMatrix.cpp
src/examples/ProjMatrix/ProjMatrix.in
src/examples/BWcow/output.ppm
